@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--primary);
  --color-primary-text: var(--primary-text-color);
  --color-secondary-text: var(--secondary-text);
  --color-bg-main: var(--bg-main);
  --color-surface: var(--surface);
  --color-border-color: var(--border-color);
  --color-input-bg: var(--input-bg);
}

:root {
  --primary: #744af3;
  --primary-text-color: #333333;
  --secondary-text: #6b7280;
  --bg-main: #fdf7f7;
  --surface: rgb(255 246 246 / 0.64);
  --border-color: rgba(107, 114, 128, 0.2);
  --input-bg: rgba(229, 231, 235, 0.4);
  --background: var(--bg-main);
  --foreground: var(--primary-text-color);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

:root:where(.dark) {
  --primary: #855ffd;
  --primary-text-color: #f3f4f6;
  --secondary-text: #9ca3af;
  --bg-main: #181923;
  --surface: rgb(35 37 48 / 0.71);
  --border-color: rgba(255, 255, 255, 0.1);
  --input-bg: #3b364a;
}

body {
  background-color: var(--bg-main);
  color: var(--primary-text-color);
  @apply transition-colors duration-300;
}

* {
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sora", sans-serif;
}

input {
  @apply rounded-md py-2 px-10 font-thin bg-(--input-bg)/60 border border-gray-400/20 outline-none
  focus:ring-2 focus:ring-(--primary)/80 transition-colors;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--input-bg) inset;
  -webkit-text-fill-color: var(--primary-text-color);
}

.btn-primary {
  @apply bg-(--primary) text-white rounded-md px-6 py-2 font-medium hover:opacity-90 transition-all cursor-pointer;
}

.small-text {
  @apply text-sm text-(--secondary-text);
}

.menu-item {
  @apply flex items-center gap-3 px-3 py-2 rounded-2xl text-sm hover:bg-current/5 transition-colors cursor-pointer w-full;
}

.menu-item-active {
  @apply flex items-center gap-3 px-3 py-2 rounded-2xl text-sm font-medium
  text-(--primary) bg-(--primary)/10 cursor-pointer w-full;
}

.btn-outline {
  @apply border border-(--border-color) px-4 rounded-md bg-transparent transition-colors;
}

.btn-secondary {
  @apply border border-(--primary)
  text-(--primary)
  flex gap-1 items-center
  rounded-full px-4 py-1
  font-medium
  cursor-pointer
  transition-all duration-300
  hover:bg-(--primary)
  hover:text-(--bg-main);
}

.surface-card {
  @apply bg-(--surface) border border-(--border-color) rounded-xl p-4  transition-all;
}

.big-title {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Geist Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.dark {
  --background: var(--bg-main);
  --foreground: var(--primary-text-color);
  --card: var(--surface);
  --card-foreground: var(--primary-text-color);
  --popover: var(--surface);
  --popover-foreground: var(--primary-text-color);
  --primary: #855ffd;
  --primary-foreground: #ffffff;
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: rgba(255, 255, 255, 0.1);
  --input: var(--input-bg);
  --ring: #855ffd;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}